body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;

  font-size: 32px;
  font-weight: 900;
}

.container {
  flex: 1;
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap:32px;

  padding: 48px;
}

.footer {
  background: #eee;
  color: darkmagenta;
  text-align: center;
}

.header,
.footer {
  padding: 16px;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Used in solution instead of adding flex on the ul */
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
} */

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  
  padding: 16px;
  flex-basis: 300px;
}