/* Add CSS Styling */

.primary,
.secondary{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.primary{
    background-color: #000000;
    color: white;
}

.secondary{
    background-color: yellow;
}